- content_for :page_title, "Authentication error"
- content_for :page_tagline, "Uh, oh. We got a problema."
%p I'm sorry to say, but your authentication failed. This could have happened for a variety of reasons.
%ol
  %li You have entered the incorrect username and password combination.
  %li You cancelled the request to authenticate.