- content_for :page_title, 'Finish your registration'
- content_for :page_tagline, 'Almost there!'
%p Sorry, but we weren't able to get all of the required information from the provider. Please look over the information below to finish registering.
= render 'form'
