@font-face {
    font-family: 'AngelinaRegular';
    src: url('angelina/angelina-webfont.eot');
    src: url('angelina/angelina-webfont.eot?#iefix') format('embedded-opentype'),
          url('angelina/angelina-webfont.woff') format('woff'),
          url('angelina/angelina-webfont.ttf') format('truetype'),
          url('angelina/angelina-webfont.svg#AngelinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JunctionRegular';
    src: url('junction/Junction-webfont.eot');
    src: url('junction/Junction-webfont.eot?#iefix') format('embedded-opentype'),
          url('junction/Junction-webfont.woff') format('woff'),
          url('junction/Junction-webfont.ttf') format('truetype'),
          url('junction/Junction-webfont.svg#JunctionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('architects-daughter/ArchitectsDaughter-webfont.eot');
    src: url('architects-daughter/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('architects-daughter/ArchitectsDaughter-webfont.woff') format('woff'),
         url('architects-daughter/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('architects-daughter/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}