// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.Posts {
  // Place scoped styles here
}

.posts {
  margin-bottom: 15px;
  
  .post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
    p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .post:last-child {
    border-bottom: none;
  }
}

.post {
  .author {
    background-color: #eee;
    @include border-radius(5px);
    float: right;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 8px 15px;
  }
  p {
    font-size: 118%;
    line-height: 140%;
    padding: 5px 18px;
  }
}

.featured-post {
  background-color: $secondary-color;
  @include border-radius(6px);
  padding: 20px;
  
  h3 {
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  a, a:link, a:visited {
    color: darken($secondary-color, 50%);
  }
  
}